NeoBundleFetch 'Shougo/neobundle.vim'
{% for category, items in vim.neobundle|dictsort %}
" {{ category }} {{ '{{{' }}
{% for item in items %}
{% if category != 'generic' %}
NeoBundleLazy '{{ item }}'
{% else %}
NeoBundle '{{ item }}'
{% endif %}
{% endfor %}
" {{ '}}}' }}
{% endfor %}
