" vimrc from ansible
if !1 | finish | endif

if has('vim_starting')
  if &compatible
    set nocompatible
  endif

  set runtimepath+=~/.vim/bundle/neobundle.vim/
endif

" general settings
set mouse=a
set ttyfast
set ttymouse=xterm2

if !exists("true")
  let true = 1
  lockvar true
endif
if !exists("false")
  let false = 0
  lockvar false
endif

set modeline
set hlsearch
set background=dark
set tags=tags;/
set t_Co=256
set number
set lazyredraw
set magic
set showmatch
set mat=2
set smartcase
set hlsearch
set backspace=eol,start,indent
set whichwrap+=<,>,h,l
set encoding=utf8
set ffs=unix,dos,mac
set nobackup
set nowb
set noswapfile
set smarttab
set laststatus=2
set splitbelow
set splitright
set sw=2
set expandtab

call neobundle#begin(expand('~/.vim/bundle/'))

NeoBundleFetch 'Shougo/neobundle.vim'
{% for category, items in vim.neobundle|dictsort %}
" {{ category }}
{% for item in items %}
{% if item.lazy is defined and item.lazy %}
NeoBundleLazy '{{ item.name }}'
{% else %}
NeoBundle '{{ item.name }}'
{% endif %}
{% endfor %}

{% endfor %}

call neobundle#end()

filetype plugin indent on
NeoBundleCheck

syntax on
if !exists("g:colorscheme_sourced")
  let g:colorscheme_sourced = true
  colorscheme Monokai
  for opt in ["Normal", "NonText"]
    exe "hi " . opt . " ctermbg=none"
  endfor
  hi Normal ctermbg=none
  hi Search cterm=reverse
endif

set nu
let mapleader = '-'

map <c-j> <c-w>j
map <c-k> <c-w>k
map <c-l> <c-w>l
map <c-h> <c-w>h
map <leader>td <Plug>TaskList
cmap w!! w !sudo tee > /dev/null %
nnoremap <silent> <leader>,<space> :let @/=''<CR>:<CR>

set statusline+=%#warningmsg#
set statusline+=%{SyntasticStatuslineFlag()}
set statusline+=%*

let g:solarized_termcolors= 256
let g:solarized_termtrans = true
let g:solarized_bold = true
let g:solarized_underline = true
let g:solarized_italic = true

let g:syntastic_always_populate_loc_list = true
let g:syntastic_auto_loc_list = true
let g:syntastic_check_on_open = true
let g:syntastic_check_on_wq = false
let g:vim_path = substitute($MYVIMRC, 'rc', '', '')
let g:vimrc_res_path = g:vim_path . "/vimrc-res"
let g:SESSION_PATH = g:vimrc_res_path . '/sessions'
let g:NR_OF_SESSIONS = 10
let g:delete_trailing_ws = true

" autocommands
au BufWrite * :call DeleteTrailingWS()
au BufNewFile,BufRead *.ino set filetype=arduino
au BufNewFile,BufRead *.jsm set filetype=javascript

exe "so " . g:vimrc_res_path . "/" . "funcs.vim"
"
" Add the virtualenv's site-packages to vim path
py << EOF
import os.path
import sys
import vim
if 'VIRTUAL_ENV' in os.environ:
  project_base_dir = os.environ['VIRTUAL_ENV']
  sys.path.insert(0, project_base_dir)
  activate_this = os.path.join(project_base_dir, 'bin/activate_this.py')
  execfile(activate_this, dict(__file__=activate_this))
EOF
