#!/bin/bash

start() {
  env WINEPREFIX="{{ wine.prefix_dir }}/heidi" \
      wine64 \
      "{{ wine.prefix_dir }}/heidi/drive_c/Program Files/HeidiSQL/heidisql.exe" &
}

switch() {
  case "${1:-}" in
    stop) killall heidisql.exe
      ;;
    kill) switch stop
      ;;
    *) start
  esac
}

switch "$@"
