# /* vim: set ts=8 sw=2 softtabstop=2: */
{% if ssh_config is defined %}
{# --- #}
{% if ssh_config.hosts is defined %}

# list of hosts
{% if ssh_config.hosts.domains is defined %}
{% for domain in ssh_config.hosts.domains %}
# -------- domain: {{ domain.name }} -------- #
{% for item in domain.machines %}
Host {{ item.host }}
{# --- #}
  HostName {{ item.name|default(item.host~"."~domain.name) }}
{% for key, val in item.iteritems() %}
{% if key != "host" and key != 'name' %}
  {{ key|camel }} {{ val }}
{% endif %}
{# --- #}
{% endfor %}
{# --- #}

{% endfor %}
{% endfor %}
{% endif %}
{% endif %}
{% if ssh_config.hosts.no_domain is defined %}
{% for item in ssh_config.hosts.no_domain %}
Host {{ item.host }}
{% for key, val in item|dictsort %}
{% if key == 'name' %}
  HostName {{ val }}
{% elif key != 'host' %}
  {{ key|camel }} {{ val }}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
{% if ssh_config.defaults is defined %}

# defaults for all hosts
{# --- #}
Host *
{# --- #}
{% for key, val in ssh_config.defaults.iteritems() %}
  {{ key|camel }} {{ val }}
{% endfor %}
{% endif %}
{# --- #}
{% endif %}
